* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: Roboto;
}

h2 {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	width: 500px;
}

th {
	color: white;
	background-color: black;
}

tr:nth-child(odd) {
	background-color: #ddd;
}

a img {
  width: 300px;
  border: 1px solid black;
  height: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex a {
  display: inline-block;
  margin: 10px;
}

.flex::after {
  content: "";
  flex: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  gap: 10px;
}
.item {
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.item a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
